
<div id="top-bar">
  <div class="left">
    <h4>प्रतिलिपि</h4>
  </div>

  <div class="right">
    <i class="material-icons" style="margin-right: 10px; margin-top: 10px;">search</i>
    
    <i class="material-icons" *ngIf="showHide">notifications</i>

    <button md-icon-button [mdMenuTriggerFor]="menu" style="float: right">
      <i class="material-icons">account_circle</i>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item (click)="changeShowStatus()">
        <span>Login</span>
      </button>
      <button md-menu-item>
        <span>Write a story</span>
      </button>
      <button md-menu-item>
        <span>Change Language</span>
      </button>
    </md-menu>
  </div>
</div>


<!--<i class="material-icons md-light">home</i>-->


<md-grid-list cols="3" rowHeight="3:1">
  <md-grid-tile><i class="material-icons">home</i></md-grid-tile>
  <md-grid-tile><i class="material-icons">explore</i></md-grid-tile>
  <md-grid-tile><i class="material-icons">collections_bookmark</i></md-grid-tile>
</md-grid-list>